@use './variables' as colors;

:root {
    background-color: colors.$background-color;
    color: colors.$text-color;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h1 {
  color: colors.$primary-color;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

